.Card {
	padding: 2px auto;
	margin: 10px auto;
}
.Card_CardContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-align: center;
}
.card_text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Star {
	color: #c9c918;
	box-shadow: 0px 1px 1px 0px rgba(3, 3, 3, 0.5);
}
